<launch>
    <!-- Other nodes -->
    <node pkg="path_follower" type="initiator_node" name="initiator_node" output="screen" required="true"/>
    <node pkg="path_follower" type="manager_node" name="manager_node" output="screen"/>
    <node pkg="path_follower" type="manager_simple_node" name="manager_simple_node" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz_node" args="-d /home/hector/tfm_ws/src/path_follower/rviz/try_paths.rviz" required="true"/>
</launch>
