<launch>
    <!-- Other nodes -->
    <node pkg="rostopic" type="rostopic" name="pub_mode" args="pub /manager_mode std_msgs/Int8 1"/>
    <node pkg="path_follower" type="initiator_node" name="initiator_node" required="true"/>
    <!-- <node pkg="path_follower" type="manager_node" name="manager_node" output="screen" respawn="true"/> -->
    <node pkg="path_follower" type="path_generator_node" name="path_generator_node" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz_node" args="-d /home/hector/tfm_ws/src/path_follower/rviz/try_paths.rviz" required="true"/>
</launch>
